@page "/buttoninput"

@code {
    public bool Loading { get; set; } = false;
    public bool Disabled { get; set; } = false;
    public int ClickCounter = 0;
}

<h1>InputButton Test</h1>

<div class="my-5">
    <input type="button" value="Loading: true" @onclick="@(e => { Loading = true; })" />
    <input type="button" value="Loading: false" @onclick="@(e => { Loading = false; })" />
</div>

<h2>Test button</h2>
<input type="button" value="Disable" @onclick="@(e => { Disabled = true; })" />
<input type="button" value="Enable" @onclick="@(e => { Disabled = false; })" />

<div class="my-5">
    <p>Click counter: @ClickCounter</p>
    <ButtonInput OnClick="@(() => { ClickCounter++; })" Disabled="@Disabled" Loading="@Loading" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
    <ButtonInput OnClick="@(() => { ClickCounter++; })" Disabled="@Disabled" Loading="@Loading" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
</div>

<h2>Normal flat button</h2>
<CascadingValue Name="Loading" Value="@Loading">
    <fieldset class="my-4">
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Danger">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Dark">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Info">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Light">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Link">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Secondary">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Success">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Warning">Test button</ButtonInput>
    </fieldset>

    <fieldset class="my-4">
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Danger">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Dark">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Info">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Light">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Link">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Secondary">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Success">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Warning">Test button</ButtonInput>
    </fieldset>

    <fieldset class="my-4">
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Danger">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Dark">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Info">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Light">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Link">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Secondary">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Success">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Flat" Scheme="ButtonInputScheme.Warning">Test button</ButtonInput>
    </fieldset>

    <h2>Raised button</h2>
    <fieldset class="my-4">
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Danger">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Dark">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Info">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Light">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Link">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Secondary">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Success">Test button</ButtonInput>
        <ButtonInput Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Warning">Test button</ButtonInput>
    </fieldset>

    <fieldset class="my-4">
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Danger">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Dark">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Info">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Light">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Link">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Secondary">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Success">Test button</ButtonInput>
        <ButtonInput Disabled="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Warning">Test button</ButtonInput>
    </fieldset>

    <fieldset class="my-4">
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Primary">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Danger">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Dark">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Info">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Light">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Link">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Secondary">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Success">Test button</ButtonInput>
        <ButtonInput Loading="true" Type="ButtonInputType.Raised" Scheme="ButtonInputScheme.Warning">Test button</ButtonInput>
    </fieldset>
</CascadingValue>