@page "/card"

@code {
    public bool Loading { get; set; } = false;
}

<h1>Card Test</h1>

<div class="my-5">
    <input type="button" value="Loading: true" @onclick="@(e => { Loading = true; })" />
    <input type="button" value="Loading: false" @onclick="@(e => { Loading = false; })" />
</div>

<h2>Basic cards</h2>

<div class="my-5">
    <Card Loading="@Loading">
        <Body>
            Card body
        </Body>
    </Card>
</div>

<div class="my-5">
    <Card Loading="@Loading">
        <Header>
            Card header
        </Header>
        <Body>
            Card body
        </Body>
        <Footer>
            Card footer
        </Footer>
    </Card>
</div>

<div class="my-5">
    <Card Loading="@Loading">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput>Fancy button</ButtonInput>
        </Body>
    </Card>
</div>

<div class="my-5">
    <Card Loading="@Loading" TopImage="@(new CardImage("https://via.placeholder.com/150", "Placeholder image"))">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput>Fancy button</ButtonInput>
        </Body>
    </Card>
</div>

<div class="my-5">
    <Card Loading="@Loading" BottomImage="@(new CardImage("https://via.placeholder.com/150", "Placeholder image"))">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput>Fancy button</ButtonInput>
        </Body>
    </Card>
</div>

<h2>Text align</h2>
<div class="my-5">
    <Card Loading="@Loading" Align="ContentAlign.Left">
        <Header>
            Header
        </Header>
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput>Fancy button</ButtonInput>
        </Body>
        <Footer>
            Footer
        </Footer>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Align="ContentAlign.Center">
        <Header>
            Header
        </Header>
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput>Fancy button</ButtonInput>
        </Body>
        <Footer>
            Footer
        </Footer>
    </Card>
</div>

<div class="my-5">
    <Card Loading="@Loading" Align="ContentAlign.Right">
        <Header>
            Header
        </Header>
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput>Fancy button</ButtonInput>
        </Body>
        <Footer>
            Footer
        </Footer>
    </Card>
</div>

<h2>Scheme &amp; width &amp; display</h2>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Primary" Width="25rem" DisplayInline="true">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Danger">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Secondary" Width="25rem" DisplayInline="true">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Danger">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Success" DisplayInline="true">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Danger">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Danger">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Dark">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Warning">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Danger">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Info">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Danger">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Light">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Danger">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>
<div class="my-5">
    <Card Loading="@Loading" Scheme="CardScheme.Danger">
        <Body>
            <CardTitle>Card title</CardTitle>
            <CardText>This is some card text, nice huh?</CardText>
            <ButtonInput Scheme="ButtonInputScheme.Danger">Fancy button</ButtonInput>
        </Body>
    </Card>
</div>

<h2>Layouts</h2>
<div class="my-5">
    <CardGroup>
        @for (int i = 1; i < 7; i++)
        {
            <Card Loading="@Loading">
                <Body>
                    <CardTitle>Card title</CardTitle>
                    <CardText>This is some card text, nice huh?</CardText>
                    <ButtonInput>Fancy button</ButtonInput>
                </Body>
            </Card>
        }
    </CardGroup>
</div>

<div class="my-5">
    <CardDeck>
        @for (int i = 1; i < 7; i++)
        {
            <Card Loading="@Loading">
                <Body>
                    <CardTitle>Card title</CardTitle>
                    <CardText>This is some card text, nice huh?</CardText>
                    <ButtonInput>Fancy button</ButtonInput>
                </Body>
            </Card>
        }
    </CardDeck>
</div>

<div class="my-5">
    <CardColumns>
        <Card Loading="@Loading" TopImage="@(new CardImage("https://via.placeholder.com/150", "Placeholder image"))">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
            <Footer>
                Footer
            </Footer>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <CardText>This is some card text, nice huh?</CardText>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
            </Body>
        </Card>
    </CardColumns>
</div>



<div class="my-5">
    <CardInline>
        <Card Loading="@Loading" TopImage="@(new CardImage("https://via.placeholder.com/150", "Placeholder image"))">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
            <Footer>
                Footer
            </Footer>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <CardText>This is some card text, nice huh?</CardText>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
                <ButtonInput>Fancy button</ButtonInput>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
                <CardText>This is some card text, nice huh?</CardText>
            </Body>
        </Card>
        <Card Loading="@Loading">
            <Body>
                <CardTitle>Card title</CardTitle>
            </Body>
        </Card>
    </CardInline>
</div>