@inherits RootComponent

@if (Level == HeadingLevel.H1)
{
    <h1 id="@Id">@ChildContent</h1>
}
else if (Level == HeadingLevel.H2)
{
    <h2 id="@Id">@ChildContent</h2>
}
else if (Level == HeadingLevel.H3)
{
    <h3 id="@Id">@ChildContent</h3>
}
else if (Level == HeadingLevel.H4)
{
    <h4 id="@Id">@ChildContent</h4>
}
else if (Level == HeadingLevel.H5)
{
    <h5 id="@Id">@ChildContent</h5>
}
else if (Level == HeadingLevel.H6)
{
    <h6 id="@Id">@ChildContent</h6>
}