@inherits ValueInput<bool>

@*<div class="checkbox">

    <LoadingScreen Loading="@Loading" />

    <ValueInputLabel For="@Id" Required="@Required">
        @if (Value)
        {
            <input type="checkbox" class=""
                   name="@Name" id="@Id"
                   value="@Value" @oninput="@ToggleCheckbox" checked />
        }
        else
        {
            <input type="checkbox" class=""
                   name="@Name" id="@Id"
                   value="@Value" @oninput="@ToggleCheckbox" />
        }
        @Label
    </ValueInputLabel>

    <ValueInputDescription>@Description</ValueInputDescription>

    <ValueInputValidationMessage For="@PropertyExpression" />
</div>*@

<div class="checkbox @(ReadOnly ? "checkboxReadonly" : "") @(Loading ? "checkboxLoading" : "")">

    <!--LABEL + INPUT-->
    <ValueInputLabel For="@Id" Required="@Required">
         <input type="checkbox" class=""
                name="@Name" id="@Id"
                @oninput="@ToggleCheckbox" checked="@(Value == true)" /> @Label
    </ValueInputLabel>

    <!--LOADING SCREEN-->
    <LoadingScreenAnimation Loading="@Loading" />

    <!--DESCRIPTION-->
    <ValueInputDescription>@Description</ValueInputDescription>

    <!--VALIDATION MESSAGE-->
    <ValueInputValidationMessage For="@PropertyExpression" />
</div>