@inherits ValueInput<DateTime>

<div class="form-group">

    <!--LOADING-->
    <LoadingScreenAnimation Loading="@Loading" />

    <!--LABEL-->
    <ValueInputLabel For="@Id" Required="@Required" Class="@(ReadOnly ? "bmd-label-static" : "bmd-label-floating")">@Label</ValueInputLabel>

    <!--INPUT-->
    @if (ReadOnly)
    {
        <input type="text" class="form-control" id="@Id" value="@Value.ToString(DateFormat)" readonly />
    }
    else
    {
        <input type="text" class="form-control @InputStateClass" 
               name="@Name" id="@Id" 
               value="@Value.ToString(DateFormat)" @oninput="@ChangeValueAsync" />
    }

    <!--DESCRIPTION-->
    @if (!ReadOnly)
    {
        <ValueInputDescription>Last accepted date: @Value.ToString(DateFormat)</ValueInputDescription>
    }
    <ValueInputDescription>@Description</ValueInputDescription>

    <!--VALIDATION-->
    <ValueInputValidationMessage For="@PropertyExpression" 
                                 Messages="@(LastDateParseError ? parseErrorMessages : Enumerable.Empty<string>())" />
</div>


