@typeparam TEnum
@inherits ValueInput<TEnum>


<div class="form-group">

    <!--LOADING-->
    <LoadingScreenAnimation Loading="@Loading" />

    <!--LABEL-->
    <ValueInputLabel For="@Id" Required="@Required" Class="@(ReadOnly ? "bmd-label-static" : "bmd-label-floating")">@Label</ValueInputLabel>

    <!--INPUT-->
    @if (ReadOnly)
    {
        <input type="text" class="form-control" id="@Id" value="@((Value as Enum).GetDisplayName())" readonly />
    }
    else
    {
        <select @onchange="@ChangeValueAsync" class="form-control @InputStateClass">
            @foreach (var option in Enum.GetValues(Value.GetType()))
            {
                if ((option as Enum).Equals(Value))
                {
                    <option value="@option" selected>@((option as Enum).GetDisplayName())</option>
                }
                else
                {
                    <option value="@option">@((option as Enum).GetDisplayName())</option>
                }
            }
        </select>
    }

    <!--DESCRIPTION-->
    <ValueInputDescription>@Description</ValueInputDescription>

    <!--VALIDATION-->
    <ValueInputValidationMessage For="@PropertyExpression" />
</div>