@inherits LoadableComponent
@inject IMaterialBootstrapLanguageDictionary LanguageDictionary
@typeparam TModel
<!--WRAPPER-->
<div class="my-1 modelFormWrapper">

    <!--Loader-->
    <LoadingScreenAnimation Loading="@Loading" />

    <!--EDIT FORM-->
    <EditForm @ref="EditForm" Model="@Model" OnValidSubmit="@OnValidSubmit" OnSubmit="@OnSubmit">
        <ModelFormCascator ReadOnly="@ReadOnly" Loading="false">

            <!--Annotations validator-->
            <DataAnnotationsValidator />

            <!--Content-->
            @Inputs

            <!--Bottom controls-->
            <AlertController @ref="AlertController" />
            @if (!ReadOnly)
            {
                <ButtonInput Submit="true" Scheme="ButtonInputScheme.Success">
                    @LanguageDictionary.GetContent(MaterialBootstrapLanguageDictionary.ModelFormSave)
                </ButtonInput>
            }
            @if (!ReadOnly && onReset != null)
            {
                <ButtonInput Scheme="ButtonInputScheme.Danger" OnClick="@ResetAsync">
                    @LanguageDictionary.GetContent(MaterialBootstrapLanguageDictionary.ModelFormReset)
                </ButtonInput>
            }

            <!--Additional buttons-->
            @Buttons

        </ModelFormCascator>
    </EditForm>

</div>

@if (!ReadOnly && onReset != null)
{
    <DialogWindow @ref="@ResetDialogWindow" Title="Reset confirm">
        <Body>
            @LanguageDictionary.GetContent(MaterialBootstrapLanguageDictionary.ModelFormResetConfirm)
        </Body>
        <Footer>
            <ButtonInput Scheme="ButtonInputScheme.Danger" OnClick="@ConfirmReset">
                @LanguageDictionary.GetContent(MaterialBootstrapLanguageDictionary.ModelFormResetConfirmButton)
            </ButtonInput>
        </Footer>
    </DialogWindow>
}