@inherits FileInputBase



<div class="form-group">
    <LoadingScreenAnimation Loading="@Loading" />
    @if (Label != null)
    {
        <label for="@Id" class="bmd-label-floating">@Label</label>
    }
    <input type="file" class="form-control-file" id="@Id" r-eadonly="@ReadOnly" disabled="@ReadOnly"
           accept="@Accept" capture="@Capture" multiple="@Multiple"
           @ref="InputElement" @onchange="@FileChangedAsync"
           value="@InputValue" name="@Name"
           />
    <small class="text-muted">@Description</small>
</div>        


