@inherits LoadableComponent

<div class="py-3 pagingWrapper">

    <!--Loading-->
    <LoadingScreenAnimation Loading="@Loading" />

    <!--Navigation-->
    <nav aria-label="Page navigation example">

        <!--List-->
        <ul class="pagination justify-content-center">

            <!--Previous-->
            <li class="page-item @PreviousClass">
                <a class="page-link" @onclick="@(async e => { await PreviousAsync(); })">⯇</a>
            </li>

            <!--Pages-->
            @{
                int itFrom = 0;
                int itTo = PagesCount;
                bool leftDot = false;
                bool rightDot = false;
                if (CurrentPage + 5 < PagesCount)
                {
                    rightDot = true;
                    itTo = CurrentPage + 5;
                }
                if (CurrentPage - 5 >= 0)
                {
                    leftDot = true;
                    itFrom = CurrentPage - 5;
                }

            }
            @if (leftDot)
            {
                <li class="page-item"><a class="page-link disabled">...</a></li>
            }
            @for (int i = itFrom; i < itTo; i++)
            {
                int goToPage = i;
                @if (i == CurrentPage)
                {
                    <li class="page-item active"><a class="page-link">@(i + 1)</a></li>
                }
                else
                {
                    <li class="page-item"><a class="page-link" @onclick="@(async e => { await ChangePageAsync(goToPage); })">@(goToPage + 1)</a></li>
                }
            }
            @if (rightDot)
            {
                <li class="page-item"><a class="page-link disabled">...</a></li>
            }

            <!--Next-->
            <li class="page-item @NextClass">
                <a class="page-link" @onclick="@(async e => { await NextAsync(); })">⯈</a>
            </li>
        </ul>
    </nav>

    
</div>
