@model Bonsai.RazorPages.Error.Areas.ErrorPages.Pages.ErrorLayoutModel

<!DOCTYPE html>
<html lang="@Model.LanguageDictionary.Culture.TwoLetterISOLanguageName">
<head>
    <!--GENERAL META TAGS-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Model.Description" />
    <meta name="keywords" content="@Model.Keywords" />
    <meta name="author" content="Bonsai Development" />
    <meta name="designer" content="Bonsai Development" />
    <meta name="language" content="@Model.LanguageDictionary.Culture.TwoLetterISOLanguageName" />
    <meta name="robots" content="index, follow" />

    <!--TITLE-->
    <title>@Model.Title</title>

    <!--IOS META TAGS-->
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!--SOCIÁLNÍ SÍTĚ-->
    <meta property="og:image" content="@Model.OgImagePath" />
    <meta property="og:image:secure_url" content="@Model.OgImagePath" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="@Model.Description" />
    <meta property="og:title" content="@Model.Title" />

    <!--TWITTER-->
    <meta name="twitter:title" content="@Model.Title">
    <meta name="twitter:description" content="@Model.Description">
    <meta name="twitter:image" content="@Model.OgImagePath">
    <meta name="twitter:card" content="summary_large_image">

    <!--FAVICON-->

    <link rel="apple-touch-icon" sizes="180x180" href="@Model.PathProvider.CleanPathTo("/Favicon/apple-touch-icon.png", LibraryInfo.Name)">
    <link rel="icon" type="image/png" sizes="32x32" href="@Model.PathProvider.CleanPathTo("/Favicon/favicon-32x32.png", LibraryInfo.Name)">
    <link rel="icon" type="image/png" sizes="16x16" href="@Model.PathProvider.CleanPathTo("/Favicon/favicon-16x16.png", LibraryInfo.Name)">
    <link rel="mask-icon" href="@Model.PathProvider.CleanPathTo("/Favicon/safari-pinned-tab.svg", LibraryInfo.Name)" color="#5bbad5">
    <link rel="shortcut icon" href="@Model.PathProvider.CleanPathTo("/Favicon/favicon.ico", LibraryInfo.Name)">
    <meta name="apple-mobile-web-app-title" content="Error page">
    <meta name="application-name" content="Error page">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="msapplication-TileImage" content="@Model.PathProvider.CleanPathTo("/Favicon/mstile-144x144.png", LibraryInfo.Name)">
    <meta name="msapplication-config" content="@Model.PathProvider.CleanPathTo("/Favicon/browserconfig.xml", LibraryInfo.Name)">

    <!--STYLES-->
    <link href="@Model.PathProvider.CleanPathTo("/Styles/_dist/Global.css", LibraryInfo.Name)" rel="stylesheet" />
    @RenderSection("Styles", required: false)

    <!--SCRIPTS-->
    @RenderSection("Scripts", required: false)
</head>
<body>
    @RenderBody()
</body>
</html>
