<div class="dascontract-navbar">
    <div class="app-title">
        @if (IsNameBeingEdited)
        {
            <input class="form-control" maxlength="30" @ref="NameInputReference" @onmouseover="async () => { await NameInputReference.FocusAsync(); }" @bind-value="ContractName" @onfocusout="() => { IsNameBeingEdited = false; }">
        }
        else
        {
            <h4 class="contract-name" @onclick="() => { IsNameBeingEdited = true; }">
                @if (string.IsNullOrWhiteSpace(ContractName))
                {
                    <strong>Untitled Contract</strong>
                }
                else
                {
                    <strong>@ContractName</strong>
                }
            </h4>
        }

    </div>

    <div class="main-button-group">
        <div class="nav-buttons btn-group me-2" role="group">
            <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "process" ? "active": "")"
                    @onclick="@(() => NavigationManager.NavigateTo("process"))">
                Process
            </button>

            <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "data" ? "active": "")"
                    @onclick="@(() => NavigationManager.NavigateTo("data"))">
                Data
            </button>

            <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "users" ? "active": "")"
                    @onclick="@(() => NavigationManager.NavigateTo("users"))">
                Users
            </button>
        </div>

        <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "generated" ? "active": "")"
                @onclick="@(() => NavigationManager.NavigateTo("generated"))">
            Generated
        </button>
    </div>

    <div class="toolbar">
        @foreach (var toolBarItem in Layout.ToolBarItems)
        {
            <div class="toolbar-item">
                <ToolBarButton ToolBarItem="toolBarItem" />
            </div>
        }
    </div>
</div>


