<div class="dascontract-navbar">
    <div class="app-title">
        @if (IsNameBeingEdited)
        {
            <input class="form-control" maxlength="30" @ref="NameInputReference" @onmouseover="async () => { await NameInputReference.FocusAsync(); }" @bind-value="ContractName" @onfocusout="() => { IsNameBeingEdited = false; }">
        }
        else
        {
            <h4 class="contract-name" @onclick="() => { IsNameBeingEdited = true; }">
                @if (string.IsNullOrWhiteSpace(ContractName))
                {
                    <strong>Untitled Contract</strong>
                }
                else
                {
                    <strong>@ContractName</strong>
                }
            </h4>
        }

    </div>

    <div class="main-button-group d-flex">
        <div class="nav-buttons btn-group me-3" role="group">
            <button type="button" class="btn btn-header shadow-none @(BaseRelativePath() == "process" ? "active": "")"
                    @onclick="@(() => NavigationManager.NavigateTo("process"))">
                <strong>Process</strong>
            </button>

            <button type="button" class="btn btn-header shadow-none @(BaseRelativePath() == "data" ? "active": "")"
                    @onclick="@(() => NavigationManager.NavigateTo("data"))">
                <strong>Data</strong>
            </button>

            <button type="button" class="btn btn-header shadow-none @(BaseRelativePath() == "users" ? "active": "")"
                    @onclick="@(() => NavigationManager.NavigateTo("users"))">
                <strong>Users</strong>
            </button>
        </div>

        <div class="dropdown">
            <button type="button" class="btn btn-header dropdown-toggle shadow-none" data-bs-toggle="dropdown">
                <strong>Convert</strong>
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="generated/solidity">Solidity</a></li>
                <li><a class="dropdown-item" href="generated/plutus">Plutus</a></li>
            </ul>
        </div>
    </div>

    <div class="toolbar">
            <div class="dropdown d-flex">
                <button type="button" class="btn btn-header d-flex align-items-center shadow-none" data-bs-toggle="dropdown">
                    <strong>

                        Download
                        <i class="bi bi-download ms-1" ></i>
                    </strong>
                </button>
                <ul class="dropdown-menu">
                    @foreach (var toolBarItem in Layout.ToolBarItems)
                    {
                        <li>
                            <ToolBarButton ToolBarItem="toolBarItem" />
                        </li>
                    }
                </ul>
            </div>
    </div>
</div>


