<div class="dascontract-navbar">
    <div class="app-title">
        @if (IsNameBeingEdited)
        {
            <input class="form-control" maxlength="30" @ref="NameInputReference" @onmouseover="async () => { await NameInputReference.FocusAsync(); }" @bind-value="ContractName" @onfocusout="() => { IsNameBeingEdited = false; }">
        }
        else
        {
            <h4 class="contract-name" @onclick="() => { IsNameBeingEdited = true; }">
                @if (string.IsNullOrWhiteSpace(ContractName))
                {
                    <strong>Untitled Contract</strong>
                }
                else
                {
                    <strong>@ContractName</strong>
                }
            </h4>
        }

    </div>

    <div class="tab-buttons btn-group" role="group">
        <NavLink href="/process" Match="NavLinkMatch.All">
            <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "process" ? "active": "")">
                Process
            </button>
        </NavLink>
        <NavLink href="/data">
            <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "data" ? "active": "")">
                Data
            </button>
        </NavLink>
        <NavLink href="/users">
            <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "users" ? "active": "")">
                Users
            </button>
        </NavLink>
        <NavLink href="/generated">
            <button type="button" class="btn btn-outline-primary shadow-none @(BaseRelativePath() == "generated" ? "active": "")">
                Generated
            </button>
        </NavLink>
    </div>
    <div class="toolbar">
        @foreach (var toolBarItem in Layout.ToolBarItems)
        {
            <div class="toolbar-item">
                <ToolBarButton ToolBarItem="toolBarItem" />
            </div>
        }
    </div>
</div>


