@inherits RootComponent

@if (HeadingLevel == HeadingLevel.H1)
{
    <h1 class="card-title">@ChildContent</h1>
}
else if (HeadingLevel == HeadingLevel.H2)
{
    <h2 class="card-title">@ChildContent</h2>
}
else if (HeadingLevel == HeadingLevel.H3)
{
    <h3 class="card-title">@ChildContent</h3>
}
else if (HeadingLevel == HeadingLevel.H4)
{
    <h4 class="card-title">@ChildContent</h4>
}
else if (HeadingLevel == HeadingLevel.H5)
{
    <h5 class="card-title">@ChildContent</h5>
}
else if (HeadingLevel == HeadingLevel.H6)
{
    <h6 class="card-title">@ChildContent</h6>
}