@page "/users"

<div class="users-roles-editor">
    <div class="users">
        <h2 class="mt-2">Users</h2>



        @foreach (var user in ContractManager.GetProcessUsers())
        {
            <div class="accordion" id="user-@(user.Id)-accordion">
                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@(user.Id)" aria-expanded="true" aria-controls="collapse-@(user.Id)">
                            <strong>@(user.Name == null ? "Unnamed user" : user.Name)</strong>
                        </button>
                    </h2>

                    <div id="collapse-@(user.Id)" class="accordion-collapse collapse show" data-bs-parent="#user-@(user.Id)-accordion">
                        <div class="accordion-body">
                            <div class="input short">
                                <label for="@($"user-name-{user.Id}")" class="form-label">Name</label>
                                <input class="form-control" id="@($"user-name-{user.Id}")" @bind-value="user.Name">
                            </div>

                            <div class="input short">
                                <label for="@($"user-address-{user.Id}")" class="form-label">Address</label>
                                <input class="form-control" id="@($"user-address-{user.Id}")" @bind-value="user.Address">
                            </div>

                            <div class="input long">
                                <label for="@($"user-description-{user.Id}")" class="form-label">Description</label>
                                <input class="form-control" id="@($"user-description-{user.Id}")" @bind-value="user.Description">
                            </div>
                            <label for=@($"role-select2-{user.Id}") class="form-label">Roles</label>
                            <div class="select2-outerr long">
                                <select class="select2 long" id=@($"role-select2-{user.Id}") name="states[]" multiple="multiple">
                                    @foreach (var role in ContractManager.GetProcessRoles())
                                    {
                                        <option value="@role.Id">@role.Name</option>
                                    }
                                </select>
                            </div>
                            <button @onclick="() => UsersRolesManager.RemoveUser(user)" class="btn btn-outline-danger">Remove User</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <button @onclick="() => UsersRolesManager.AddUser()" class="btn btn-primary btn-circle btn-sm add-button">+</button>
    </div>
    <div class="roles">
        <h2 class="mt-2">Roles</h2>
        @foreach (var role in ContractManager.GetProcessRoles())
        {
            <div class="accordion" id="role-@(role.Id)-accordion">
                <div class="accordion-item">

                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse-@(role.Id)">
                            <strong>@(role.Name == null ? "Unnamed role" : role.Name)</strong>
                        </button>
                    </h2>

                    <div id="collapse-@(role.Id)" class="accordion-collapse collapse show" data-bs-parent="#role-@(role.Id)-accordion">
                        <div class="accordion-body">
                            <div class="input long">
                                <label for="@($"role-name-{role.Id}")" class="form-label">Name</label>
                                <input class="form-control" id="@($"role-name-{role.Id}")" @bind-value="role.Name">
                            </div>

                            <div class="input long">
                                <label for="@($"user-description-{role.Id}")" class="form-label">Description</label>
                                <input class="form-control" id="@($"user-description-{role.Id}")" @bind-value="role.Description">
                            </div>
                            <button @onclick="() => UsersRolesManager.RemoveRole(role)" class="btn btn-outline-danger">Remove Role</button>
                        </div>
                    </div>
                </div>
            </div>
        }

        <button @onclick="() => UsersRolesManager.AddRole()" class="btn btn-primary btn-circle btn-sm add-button">+</button>
    </div>
</div>

