@inherits LoadableComponent

    <div class="card @AlignClass @SchemeClass" style="width: @Width; @(DisplayInline ? "display: inline-block;" : "")">

        <LoadingScreenAnimation Loading="@Loading" />

        <!--Card header-->
        @if (!TopImage.IsEmpty())
        {
            <img class="card-img-top" src="@TopImage.SourcePath" alt="@TopImage.AlternativeText" />
        }
        @if (Header != null)
        {
            <div class="card-header">
                @Header
            </div>
        }

        <!--Card body-->
        @if (Body != null)
        {
            <div class="card-body">
                @Body
            </div>
        }
        @ChildContent

        <!--Card footer-->
        @if (Footer != null)
        {
            <div class="card-footer">
                @Footer
            </div>
        }
        @if (!BottomImage.IsEmpty())
        {
            <img class="card-img-bottom" src="@BottomImage.SourcePath" alt="@BottomImage.AlternativeText" />
        }

    </div>